// ----------------------------------------------------------------------------
// Global Styles
// ----------------------------------------------------------------------------

*
  +box-sizing(border-box)

body
  background: #231F20

#main
  padding: 40px 0
  opacity: 0
  +transition(opacity 400ms ease)

  .wf-active &
    opacity: 1

  +at-breakpoint($break-mobile)
    padding: 20px 20px

#image-preload > img
  position: absolute
  width: 1px
  height: 1px
  opacity: 0
