.nav
  background: rgba(black, 0.9)
  position: fixed
  width: 100%
  left: 0
  margin: 0 auto
  text-align: center
  margin-bottom: 10px
  z-index: 10

  a
    display: inline-block
    padding: 7px 8px

.hero
  padding-top: $gutter * 2
  text-align: center

  h1
    font-weight: bold
    position: absolute
    top: -9999px
    left: -9999px

  p
    color: #f1f1f1

#logo
  margin-top: $gutter
  margin-bottom: $gutter * 2
  width: 250px
  height: auto
  max-width: 100%
  clear: both

  +at-breakpoint($break-mobile)
    margin-top: 0

.social-icons
  clear: both
  text-align: center
  margin: 10px 0

  a
    &:hover,
    &:focus
      img
        opacity: 1

  img
    width: 44px
    height: 44px
    opacity: 0.8
    +transition(300ms ease)

.prices
  margin: 10px 0

.home-section
  margin: 0 auto $gutter
  color: #f1f1f1
  text-align: center

  h3
    color: #f1f1f1
    margin: 15px 0 5px
    font-weight: normal

    &:first-child
      margin-top: 0

  p
    margin-bottom: 0
    color: #f1f1f1

  &.menu
    clear: both
    width: auto

  +at-breakpoint($break-mobile)
    width: auto

  +at-breakpoint($break-desktop)
    float: left

    &.menu
      float: none

h2
  font-size: 22px
  margin: 0 auto 20px
  padding-bottom: 20px
  color: #fff
  position: relative

  &:after
    position: absolute
    left: 0
    bottom: 0
    height: 2px
    width: $gutter * 2
    background-color: rgba(#f1f1f1, 0.4)
    content: ''

.menu
  h3
    color: #f1f1f1
    text-align: left
    margin-top: 10px
    margin-bottom: 10px

    em
      font-size: 14px
      font-weight: 400

  p
    text-align: left
    margin-bottom: $gutter / 2

  strong
    display: block

  span
    display: inline-block
    margin-left: $gutter / 2

.menu-section
  margin: 0 0 25px
