.coming-soon
  opacity: 0
  text-align: center
  +transition(opacity 400ms ease)

  .wf-active &
    opacity: 1

  h1
    font-weight: bold
    color: #C2A796

  h2
    font-size: 1.7em
    color: #f1f1f1

  p
    color: #ccc
