---

---

- content_for :javascripts, javascript_include_tag('index')

.container
  .hero
    %h1
      Porter House Restaurant - Fine fare and ales on Dundas West in Toronto

    = image_tag 'porterhouse_logo@2x.jpg', id: 'logo'

  .home-section
    %h2#hours We have closed up shop permanently.

    %p
      %strong Thanks for the times! xoxo
