---

---

- content_for :javascripts, javascript_include_tag('index')

.container
  .coming-soon
    %h1
      Porterhouse Restaurant - Toronto, ON

    = image_tag 'porterhouse_logo@2x.jpg', id: 'logo'
    %h2 Coming soon
    %p
      = link_to 'https://www.google.ca/maps/place/1321+Dundas+St+W,+Toronto,+ON+M6J+1X8/@43.6493896,-79.4262962,17z/data=!3m1!4b1!4m2!3m1!1s0x882b345611255f0f:0x3cab5362aa6cb8df', target: '_blank' do
        1321 Dundas Street West<br/>
        Toronto

    .social-icons
      = link_to image_tag('instagram@2x.jpg'), '//instagram.com/porterhouse_to', target: '_blank'
      = link_to image_tag('twitter@2x.jpg'), '//twitter.com/porterhouse_to', target: '_blank'
